<section class="containter-fluid text-center">
    <div class="form">
        <form [formGroup]="loginForm">
            <fieldset>
                <legend><img src="../../assets/images/food.png"></legend>
                <div class="form-field">
                    <input name="username" class="form-control" formControlName="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-field">
                    <input name="password" formControlName="password" placeholder="Password" class="form-control"
                           type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
            </fieldset>
            <div class="form-buttons">
                <button  class="btn btn-primary" 
                        (click)="login()">Login</button>
            </div>
        </form>
    </div>
</section>