
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link"  *ngIf="isadmin">Admin <i class="fas fa-user-astronaut"></i></a>
        <a class="nav-item nav-link logout" (click)="logout()">Logout</a>
    </div>
</nav>
<section class="header text-center">
    <div>
        <h3>Table Of Users
            <i class="fas fa-star"></i>
        </h3>
    </div>
</section>
<div class="container tableCont">
    <ng2-smart-table
        [settings]="settings"
        [source]="data"
        (deleteConfirm)="onDeleteConfirm($event)" 
        (createConfirm)="onAdd($event)" 
        (editConfirm)="onEdit($event)">
    </ng2-smart-table>
</div>

