:host /deep/ ng2-smart-table table{
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-width: 2px;
    
    display: table;
    border-spacing: 2px;
    border-color: #80808047; /* border of the big table*/
}
/* grid lines */
 :host /deep/ ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
    border: 1px solid grey;
}

/* headers grid color*/
:host /deep/ ng2-smart-table thead > tr > th  { 
    border: 1px solid grey;
    background-color:#8bff9e7d;
}  
/*font size*/
:host /deep/ ng2-smart-table {
    font-size:16px;
}
.header{
    padding: 32px;
}
:host /deep/ a.ng2-smart-page-link.page-link {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
    }
    /* selected paging number */
    :host /deep/ span.ng2-smart-page-link.page-link {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    line-height: 6px;
    }
    :host /deep/ span.ng2-smart-page-item.page-item.disabled {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
    }
    
    /* previous paging button */
    :host /deep/ a.ng2-smart-page-link.page-link.page-link-prev {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
    }
    
    /* previous paging button disabled */
    :host /deep/ span.ng2-smart-page-link.page-link.page-link-prev.disabled {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
    }
    
    /* next paging button */
    :host /deep/ a.ng2-smart-page-link.page-link.page-link-next {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: royalblue;
    font-weight: bold;
    line-height: 6px;
    }
    
    /* next paging button */
    :host /deep/ span.ng2-smart-page-link.page-link.page-link-next.disabled {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-weight: bold;
    line-height: 6px;
    }
    :host /deep/ a.ng2-smart-action  {
        padding: 2px;
        color: #1e6bb8;
        text-decoration: none;
    }
    .tableCont{
        overflow-x: scroll;
    }